@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <script>
    $(document).ready(function () {
        $("#botonload").click(function () {
            var url = "https://54.175.33.92/api/Personajes";
            $.get(url, function(data){
                var html = "";
                $.each(data, function (index, personaje) {
                    html += "<li class='list-group-item'>";
                    html += personaje.nombre;
                    html += "<img src='" + personaje.imagen + "' "
                        + " style='width:80px;height:80px;'/>"
                    html += "</li>";
                })
                $("#capapersonajes").html(html);
            })
        })
    })
    </script>
}
<div class="text-center">
    <h1>Personajes</h1>
    <button id="botonload" class="btn btn-outline-dark">
        Cargar personajes
    </button>

    <ul id="capapersonajes" class="list-group">

    </ul>
</div>
